.button {
    color: cornflowerblue;
    background-color: white;
    border: cornflowerblue 4px solid;
    width: 80px;
    height: 40px;
    border-radius: 8px;
    font-weight: 600;
    margin-left: 12px;
}